<div class="container-fluid">

    <div class="row background d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 color">
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">Expresse aqui os seus pensamentos e opniões!</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-center aling-items-center">
                    <button class="button">Nova Postagem</button>
                    <a href="" class="button-btn">Ver Postagens</a>
                </div>
            </div>

        </div>

        <div class="col-md-6 justify-content-center">
            <img src="https://i.imgur.com/NqQGPHY.png" alt="" width="500px" height="500px">
        </div>
    </div>

</div>

<div class="container mb-5 mt-5">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active color font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

          <a class="nav-item nav-link color font-weight-bold" id="nav-profile-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

          <a class="nav-item nav-link color font-weight-bold" id="nav-contact-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por Tema</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens">Todas as Postagens</div>
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens">Minhas Postagens</div>

        <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema">Postagens Por Tema</div>
      </div>
</div>