/* Estilo da página index */
* {
    margin: 0;
    padding: 0;
}

header h2 {
    display: none;
}

header {
    background: #393E46;
}

header div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

header img {
    width: 150px;
    margin-left: -60px;
    padding: 15px 0;
}

.contato-header {
    display: flexbox;
    justify-content: space-around;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contato-header button {
    box-shadow: 3px 3px 10px rgba(36, 36, 36, .5);
    margin-left: 30px;
    padding: 15px;
    font-weight: 200;
}

.menu-section hr {
    margin-bottom: -50px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-top: 65px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 15px;
    transition: all 250ms linear 0s;
}

.contariner-corpo {
    font-family: Arial, Helvetica, sans-serif;
    height: 450px;
    color: white;
    background: url(../_img/banner.jpg) no-repeat;
    text-align: justify;
}

.titulo-parag {
    display: flexbox;
    flex-direction: column;
    width: 500px;
    margin-left: 150px; 
}

.conteiner-img {
    background: #ddd;
    display: flex;
    justify-content: center;
}

.texto {
    background: #fff;
    box-shadow: 3px 3px 10px rgba(36, 36, 36, .5);
    width: 300px;
    padding: 15px;
    margin: 15px;
    margin-top: -50px;
    text-align: center;
    margin-bottom: 80px;
}

.logos-div {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

/* Estilo da página contato */

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.formulario {
    width: 500px;
}

.formulario input, textarea {
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: solid 1px black;
    font-weight: bold;
    color: #000;
}

.formulario textarea {
    font-size: 15px;
    margin-top: 20px;
}

.formulario button {
    padding: 15px;
    width: 537px;
    font-weight: bolder;
    font-size: 20px;
    border: solid 2px #393E46;
    background: #393E46;
    color: white;
    transition: 0.5s linear;
    margin-top: 20px;
}

.formulario button:hover {
    background: #ddd;
    color: #393E46;
    transition: 0.5s linear;
    
}

.cont-form {
    background: rgb(139, 138, 138);
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 300px;
    height: 280px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cont-form img {
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: 0.5s linear;
}

.cont-form img:hover {
    background: #ddd;
    transition: 0.5s linear;
}

.conteiner-mapa {
    background: #393E46;
    height: 300px;
    display: flex;
    justify-content: center;
}

.texto-mapa {
    width: 300px;
    margin-left: 40px;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.texto-mapa h3 {
    text-align: left;
    margin-bottom: 30px;
}

.texto-mapa a {
    color: white;
    text-decoration: none;
}

.texto-mapa hr {
    margin-top: -25px;
    margin-bottom: 30px;
}

.navegacao li {
    margin-left: 40px;
}

.texto-mapa p, li {
    text-transform: none;
    font-size: 14px;
    margin-bottom: 10px;
}