<div>
    <div class="col-md-12 foto-fundo d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 class="mb-4 color">Login</h1>
        <div class="col-md-12 bg-login d-flex align-items-center justify-content-center">
            <div class="formulario">
                <form>
                    <div class="form-group">
                      <label for="usuario"></label>
                      <input type="text" class="form-control" id="IdUsuario" placeholder="Usuário">
                    </div>

                    <div class="form-group">
                        <label for="senha"></label>
                        <input type="password" class="form-control" id="IdSenha" placeholder="Senha">
                    </div>

                    <div class="mt-5">
                        <button class="button color" type="submit">Entrar</button>
                    </div>
                  </form>
            </div>
        </div>
        <hr class="mt-4 mb-2 bg-white">
        <p class="text-center color">
            Não tem um conta ? <a href="">Cadastre-se</a>
        </p>
    </div>     
</div>
