* {
    margin: 0;
    padding: 0;
}

.color {
    color: #7D98A7;
}

.foto-fundo {
   background: url(../../environments/_img/foto-01.jpg);
   min-height: 625px;
   background-size: cover;
}

.bg-login {
    background: rgba(10, 12, 33, 0.8);
    width: 430px;
    height: 430px;
    border-radius: 50%;
}

.formulario input {
    border: none;
    background: none;
    border-bottom: solid 1px ;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario input:focus { 
    box-shadow: 0, 0, 0, 0;
    outline: none;
    border-bottom: none;
    border-radius: 5px;
}

.button {
    padding: 5px;
    padding-left: 10px;
    padding-inline: 15px;
    border: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: #030518;
}

.button:hover {
    transition: linear 400ms;
    background: #F92A87;
    color: #030518;
}

p a {
    text-decoration: none;
    color: blue;
}

p a:hover {
    transition: linear 400ms;
    color: #F92A87;
}